name: Build Sing-box Rules

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt update

    # AMBIL URL SING BOX TERBARU
    - name: Get latest Sing-box download URL
      id: geturl
      run: |
        URL=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases/latest \
          | grep browser_download_url \
          | grep linux-amd64.tar.gz \
          | cut -d '"' -f 4)
        echo "URL=$URL" >> $GITHUB_OUTPUT

    # DOWNLOAD FILE
    - name: Download Sing-box
      run: |
        wget "${{ steps.geturl.outputs.URL }}"
        ls -lah

    # EXTRACT
    - name: Extract Sing-box
      run: |
        tar -xvf *.tar.gz
        ls -lah

    # CONTOH: Jalankan Sing-box buat convert rules (opsional)
    - name: Run Sing-box (contoh)
      run: |
        chmod +x sing-box
        ./sing-box version

    # UPLOAD ARTIFACT
    - name: Upload output
      uses: actions/upload-artifact@v4
      with:
        name: hasil-singbox
        path: |
          .
        retention-days: 7
