name: Build Sing-box Rules

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt update

    - name: Get latest Sing-box download URL
      id: geturl
      run: |
        URL=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases/latest \
          | grep browser_download_url \
          | grep linux-amd64.tar.gz \
          | cut -d '"' -f 4)
        echo "URL=$URL" >> $GITHUB_OUTPUT

    - name: Download Sing-box
      run: |
        wget "${{ steps.geturl.outputs.URL }}"

    - name: Extract Sing-box
      run: |
        tar -xvf *.tar.gz
        DIR=$(find . -type d -name "sing-box*" | head -n 1)
        echo "DIR=$DIR" >> $GITHUB_ENV

    - name: Convert JSON to SRS
      run: |
        mkdir -p output
        "$DIR/sing-box" rule-set compile rules/ads.json -o output/ads.srs
        ls -lah output

    - name: Upload output
      uses: actions/upload-artifact@v4
      with:
        name: hasil-singbox
        path: output
        retention-days: 7
